/* CSS Document */
/* CSS Document */
/* line 13, ../scss/_local_css.scss */
a {
  min-width: 200px;
}

/* line 22, ../scss/_local_css.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 26, ../scss/_local_css.scss */
ul li {
  padding: 5px;
  margin: 0;
}

/* line 35, ../scss/_local_css.scss */
.hidden {
  display: none;
}

/* line 39, ../scss/_local_css.scss */
.bioLoad {
  margin: 3.125rem 0 0 0;
  border: 1px solid #882346;
  display: none;
}

/* line 45, ../scss/_local_css.scss */
#expertList2 {
  border: 1px solid #882346;
}

/* Accordion */
/* line 52, ../scss/_local_css.scss */
button.accordion-toggle {
  cursor: pointer;
  border-width: 0;
  text-align: initial;
  background-color: #fff;
  padding: 0 !important;
  width: 100%;
}
/* line 60, ../scss/_local_css.scss */
button.accordion-toggle .visual {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 2px 5px 0 0;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat 0px 0px;
}
/* line 68, ../scss/_local_css.scss */
button.accordion-toggle .visual.minus {
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat -19px 0px;
}
/* line 72, ../scss/_local_css.scss */
button.accordion-toggle .content {
  display: inline-block;
  vertical-align: top;
  padding: 0 !important;
}

/* line 80, ../scss/_local_css.scss */
.accordion-content {
  display: none;
}

/* line 81, ../scss/_local_css.scss */
.accordion-content.default {
  display: block;
}

/* line 86, ../scss/_local_css.scss */
.facultyExperts .bio .photo {
  float: left;
  width: 150px;
  padding-right: 25px;
}
/* line 90, ../scss/_local_css.scss */
.facultyExperts .bio .photo img {
  width: 100%;
}
/* line 93, ../scss/_local_css.scss */
.facultyExperts .bio .photo ul.contact {
  list-style: none;
  margin: 0;
}
/* line 96, ../scss/_local_css.scss */
.facultyExperts .bio .photo ul.contact li {
  padding: 0;
}
/* line 101, ../scss/_local_css.scss */
.facultyExperts .bio .details {
  padding-left: 175px;
  width: 515px;
}

/* line 118, ../scss/_local_css.scss */
.allBios .bio .photo {
  float: left;
  width: 100px;
  padding-right: 15px;
}
/* line 122, ../scss/_local_css.scss */
.allBios .bio .photo img {
  width: 100%;
}
/* line 125, ../scss/_local_css.scss */
.allBios .bio .photo ul.contact {
  list-style: none;
  margin: 0;
}
/* line 128, ../scss/_local_css.scss */
.allBios .bio .photo ul.contact li {
  padding: 0;
}
/* line 133, ../scss/_local_css.scss */
.allBios .bio .details {
  padding-left: 115px;
  width: 575px;
}
