/* CSS Document */
/* CSS Document */
/* line 13, ../scss/_local_css.scss */
a {
  min-width: 200px;
}

/* line 22, ../scss/_local_css.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 26, ../scss/_local_css.scss */
ul li {
  padding: 5px;
  margin: 0;
}

/* line 35, ../scss/_local_css.scss */
.hidden {
  display: none;
}

/* line 39, ../scss/_local_css.scss */
.bioLoad {
  margin: 3.125rem 0 0 0;
  border: 1px solid #882346;
  display: none;
}

/* line 45, ../scss/_local_css.scss */
#expertList2 {
  border: 1px solid #882346;
}

/* line 54, ../scss/_local_css.scss */
.facultyExperts .bio .photo {
  float: left;
  width: 150px;
  padding-right: 25px;
}
/* line 58, ../scss/_local_css.scss */
.facultyExperts .bio .photo img {
  width: 100%;
}
/* line 61, ../scss/_local_css.scss */
.facultyExperts .bio .photo ul.contact {
  list-style: none;
  margin: 0;
}
/* line 64, ../scss/_local_css.scss */
.facultyExperts .bio .photo ul.contact li {
  padding: 0;
}
/* line 69, ../scss/_local_css.scss */
.facultyExperts .bio .details {
  padding-left: 175px;
  width: 515px;
}

/* Accordion */
/* line 77, ../scss/_local_css.scss */
button.accordion-toggle {
  cursor: pointer;
  border-width: 0;
  text-align: initial;
  background-color: #fff;
  background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat 0px 0px;
  background-position: 0px 2px;
  padding-left: 26px;
  width: 100%;
}

/* line 87, ../scss/_local_css.scss */
.accordion-content {
  display: none;
}

/* line 88, ../scss/_local_css.scss */
.accordion-content.default {
  display: block;
}
