@charset "utf-8";
/* CSS Document */


$color-maroon: #882346;
$color-white: #fff;
$color-grayeee: #eee;
$color-gray222: #222;
$color-yellow: #FAD129;
$thin-maroon: 1px solid $color-maroon;
$thin-yellow: 1px solid $color-yellow;
$medium-maroon: 2px solid $color-maroon;
$medium-grayeee: 2px solid $color-grayeee;
$thick-grayeee: 3px solid $color-grayeee;
$thick-yellow: 3px solid $color-yellow;
$shadow-222: 0px 5px 30px rgba(0, 0, 0, .5);

section {
	//border: $thin-maroon;
}

a {
	min-width: 200px;
	//padding:25px;
	&:hover {
		//color: $color-white;

	}
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		padding: 5px;
		margin: 0;
		//&:hover {
		//	background-color: $color-maroon;
		//}
	}
}

.hidden {
	display: none;
}

.bioLoad {
	margin: rem-calc(50) 0 0 0;
	border: $thin-maroon;
	display: none;
}

#expertList2 {
	border: $thin-maroon;
}







////////////////////////////////////////////////////

/* Accordion */
  button.accordion-toggle {
  	cursor: pointer; 
  	border-width: 0;
  	text-align: initial;
  	background-color: #fff;
  	padding: 0 !important;
  	//padding-left: 26px;
  	width: 100%;
  	.visual {
  		display: inline-block;
  		width: 18px;
  		height: 18px;
  		margin: 2px 5px 0 0;
  		background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat 0px 0px;
  		//background-position: 0px 2px;
  		//border: 1px solid #000;
  		&.minus{
  			background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat -19px 0px;
  		}
  	}
  	.content {
  		display: inline-block;
  		vertical-align: top;
  		//border: 1px solid #000;
  		padding: 0 !important;

  	}
  }

  .accordion-content {display: none;}
  .accordion-content.default {display: block;} 

/* Individual BIO */
.facultyExperts {
	.bio {
		.photo {
			float: left;
			width: 150px;
			padding-right: 25px;
			img {
				width: 100%;
			}
			ul.contact {
				list-style: none;
				margin: 0;
				li {
					padding: 0;
				}
			}
		}
		.details {
			padding-left: 175px;
			width: 515px;
			.expertise {
				a {
					&:after{
						//content: ", ";
					}
				}
			}
		}
	}
}

/* All Experts */
.allBios {
	.bio {
		.photo {
			float: left;
			width: 100px;
			padding-right: 15px;
			img {
				width: 100%;
			}
			ul.contact {
				list-style: none;
				margin: 0;
				li {
					padding: 0;
				}
			}
		}
		.details {
			padding-left: 115px;
			width: 575px;
		}
	}
}





/*Search Page */
.searchElement {
		position: relative;
	.searchZone {
		position: relative;
		width: 100%;
		height: 200px;
		background-color: $color-maroon;
		border-radius: 3px;
		margin-bottom: 15px;
		//top: 0;
		label {
			position: absolute;
			top: 45px;
			left: 120px;
			visibility: hidden;
		}
		#searchField {
			position: absolute;
			top: 79px;
			left: 120px;
			width: 450px;
			height: 42px;
			font-size: 18px;
			line-height: 16px;
			border-radius: 5px;
			padding-left: 8px;
			border: $thick-grayeee;
			&:focus {
				border-radius: 5px;
				border: $thick-yellow !important;
				// outline: $thick-grayeee !important;
				// border: none;
				outline: none;
			}
		}	
		h2 {
			&.browse {
				position: absolute;
				top: 135px;
				left: 120px;
				color: $color-white;
				a {
					color: $color-yellow;
				}
			}
		}
	}
	.searchResults{
		list-style: none;
		.expertList{
			position: absolute;
			margin: 0;
			top: 130px;
			left: 121px;
			width: 458px;
			//padding: 5px 5px 5px 5px;
			//background-color: $color-white;
			border-radius: 5px;
			border-top: $medium-grayeee;
			border-left: $medium-grayeee;
			border-right: $medium-grayeee;
			box-shadow: $shadow-222;
			li {
				padding: 8px 5px 8px 5px;
				background-image: none;
				background-color: $color-white;
				border-bottom: $medium-grayeee;
				margin: 0;
				color: $color-gray222; 
				//&:last-of-type{
				// border-bottom: none;
				//}
				h3 {
					margin-bottom: 7px;
					&.noResults {
						margin-bottom: 0;
					}
				}
				a {
					font-size: 18px;
					//font-weight: bolder;
				}
				p {
					margin-bottom: 0;
					.label{
						font-weight: bolder; 
					}
				}
				
			}	
		}	
	}
}