@charset "utf-8";
/* CSS Document */


$color-maroon: #882346;
$color-white: #fff;
$thin-maroon: 1px solid $color-maroon;

section {
	//border: $thin-maroon;
}

a {
	min-width: 200px;
	//padding:25px;
	&:hover {
		//color: $color-white;

	}
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	li{
		padding: 5px;
		margin: 0;
		//&:hover {
		//	background-color: $color-maroon;
		//}
	}
}

.hidden {
	display: none;
}

.bioLoad {
	margin: rem-calc(50) 0 0 0;
	border: $thin-maroon;
	display: none;
}

#expertList2 {
	border: $thin-maroon;
}

////////////////////////////////////////////////////

// BIO
.facultyExperts {
	.bio {
		.photo {
			float: left;
			width: 150px;
			padding-right: 25px;
			img {
				width: 100%;
			}
			ul.contact {
				list-style: none;
				margin: 0;
				li {
					padding: 0;
				}
			}
		}
		.details {
			padding-left: 175px;
			width: 515px;
		}
	}
}

/* Accordion */
  button.accordion-toggle {
  	cursor: pointer; 
  	border-width: 0;
  	text-align: initial;
  	background-color: #fff;
  	background: url("http://www.brooklyn.cuny.edu/web/com_misc/expand.png") no-repeat 0px 0px;
  	background-position: 0px 2px;
  	padding-left: 26px;
  	width: 100%;
  }
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}